img{
    width: 5vw;
    height: 5vh;
}
mat-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom:2em;
}

a{
    text-decoration: none;
}

.heading{
    color:white;
}

.dis{
    display: none;
}

img{
    height:8vh;
    width: 8vh;
    border-radius: 50%;
}